<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Light Displays</title>
    <link rel="stylesheet" href="{% static 'displays/styles.css' %}" />
</head>
<body>
    <header>
        <img class="center" src="{% static 'displays/hld_logo.jpg' %}">
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'displays:index' %}">HOME</a></li>
            <li><a href="{% url 'displays:listing' %}">DISPLAY LISTING</a></li>
            <li><a href="{% url 'displays:create' %}">ADD DISPLAY</a></li>
        </ul>
    </nav>

    <main>
    {% block content %} {% endblock content %}
    </main>

    <footer>Made with &#9829 in Minneapolis, MN</footer>
</body>
</html>