<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Light Displays</title>
</head>
<body>
    <header>
        <a href="{% url 'displays:index' %}">Home</a> |
        <a href="{% url 'displays:listing' %}">Display Listing</a> |
        <a href="{% url 'displays:create' %}">Add Display</a>
    </header>
    
    {% block content %} {% endblock content %}

    <footer>Made with &#9829 in Minneapolis, MN</footer>

</body>
</html>