{% extends "displays/base.html" %}

{% block content %}

<H1>THIS IS THE DISPLAY DETAILS PAGE FOR {{ displays.display_name }}</H1>

{# This is a Django template comment #}

<div style="color:red;">
    Address1: {{ displays.address1 }}<br>
    Address2: {{ displays.address2 }}<br>
    City: {{ displays.city }}<br>
    ST/Province: {{ displays.state_province }}<br>
    ZIP: {{ displays.zip }}<br>
    Country: {{ displays.country }}<br>
    Deleted: {{ displays.deleted }}
</div>
<br>
<div>
    <form action="{% url 'displays:update' displays.id %}">
        <input type="submit" value="Edit">
    </form>
    <form action="{% url 'displays:delete' displays.id %}">
        <input type="submit" value="Delete">
    </form>
</div>

{% endblock content %}
